.contact-form {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  padding: 50px 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 999;
}
.close-form {
  border-color: transparent;
  border-radius: 50px;
  /* display: flex;
  justify-content: end; */
  height: 50px 50px;
  background: transparent;
  /* position: relative;
  top: -302px;
  left: 800px; */
}
