.info-section hr {
  width: 50%;
  margin: auto;
  background-color: lightgreen !important;
}
.info-title {
  font-weight: 500;
  text-shadow: 7px 5px 21px 6px #bfbfbf !important;
}
.info-title:after {
  content: "";
  border-bottom: 2px solid lightgreen;
  display: block;
  margin: auto !important;
  width: 20%;
  padding-top: 7px;
}
.sub-link {
  color: #000 !important;
}
.info-text {
  font-size: 1.1rem;
}
.info-link {
  color: lightgreen;
  margin: 2em auto 0 auto !important;
  text-align: center;
}
