.credentials-btn {
  background: #00c851 !important;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  letter-spacing: 2px;
  font-weight: 500;
  transform: rotate(-90deg);
  position: absolute;
  right: -7.5em;
  top: 80%;
}

.reset-btn {
  border: hidden !important;
  background: transparent !important;
  box-shadow: none;
  left: 0;
}

.credentials p {
  margin-bottom: 0.5px !important;
}
.user-info::after {
  content: " ";
  display: block;
  border-bottom: 2px dotted #000;
  width: 30%;
  margin-bottom: 15%;
  margin: auto;
}
.credentials h5 {
  font-weight: 700;
  text-decoration: underline;
}
/* .credentials-container {
  height: 500px !important;
  background: blue !important;
  transition: all 2s ease !important;
} */

/* .users{

} */
/* .credentials-container {
  overflow: hidden !important;
} */
/* .credentials-btn p {
  letter-spacing: 2px;
  padding: 0;
} */
/* .rounded {
  border-radius: 50% !important;
  width: 25px;
  height: 25px;
} */

/* .users {
  position: relative;
} */
